*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    --white: #FFFFFF;
    --black: #212529;
    --yellow: #FFE492;
    --blue1: #043873;
    --blue2: #4F9CF9;
    --blue3: #C4DEFD;
}

.background-color__blue1 {
    background-color: var(--blue1);
}

.background-color__white {
    background-color: var(--white);
}

.background-color__blue3 {
    background-color: var(--blue3);
}

.display__center {
    display: flex;
    align-items: center;
}

.display__space-between {
    display: flex;
    justify-content: space-between;
}

.display__column-flex-start-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.display__column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position__relative {
    position: relative;
}

.position__absolute {
    position: absolute;
}

.z-index__1 {
    z-index: 1;
}

.z-index__2 {
    z-index: 2;
}

.z-index__3 {
    z-index: 3;
}

.text-align__center {
    text-align: center;
}

.font__700-72 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 72px;
}

.font__700-70 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 70px;
}

.font__700-64 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.font__700-36 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.font__700-28 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.font__700-18 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.font__600-24 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.font__500-18 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.font__500-16 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.font__400-18 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.font__400-16 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.color__white {
    color: var(--white);
}

.color__black {
    color: var(--black);
}

.color__yellow {
    color: var(--yellow);
}

.margin__4 {
    margin-bottom: 4px;
}

.margin__15 {
    margin-bottom: 15px;
}

.margin__24 {
    margin-bottom: 24px;
}

.margin__25 {
    margin-bottom: 25px;
}

.margin__28 {
    margin-bottom: 28px;
}

.margin__32 {
    margin-bottom: 32px;
}

.margin__40 {
    margin-bottom: 40px;
}

.margin__60 {
    margin-bottom: 60px;
}

.padding__10 {
    padding-left: 10px;
}

.button__20202020-8-500-18 {
    padding: 20px;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--blue2);
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.button__20402040-6-500-18 {
    padding: 20px 40px 20px 40px;
    border-radius: 6px;
    color: var(--white);
    background-color: var(--blue2);
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.button__20402040-8-500-18 {
    padding: 20px 40px 20px 40px;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--blue2);
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.button__20402040-10-500-16 {
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--blue2);
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.section-first__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 220px 16px 220px;
}

.section-first__header-navbar {
    display: flex;
}

.section-first__header-navbar--left {
    display: flex;
    margin-right: 55.5px;
}

.section-first__header-navbar--left-block-main {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.section-first__header-navbar--left-block-main:last-child {
    margin-right: 0px;
}

.section-first__header-navbar--left-link-main {
    color: var(--white);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
}

.section-first__header-navbar--left-image-main {
    padding: 10px;
}

.section-first__header-navbar--right-button-first {
    padding: 18.5px 40px 18.5px 40px;
    border-radius: 8px;
    color: var(--blue1);
    background-color: var(--yellow);
    border: none;
    margin-right: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.section-first__header-navbar--right-button-second {
    padding: 18.5px 24px 18.5px 24px;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--blue2);
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.section-first__header-navbar--right-button-second-image {
    padding-left: 10px;
}

.section-first__Get-More-Done-with-whitepace {
    padding: 140px 220px 140px 220px;
}

.section-first__Get-More-Done-with-whitepace--background-image {
    width: 100%;
    top: 200px;
    left: 0px;
}

.section-first__Get-More-Done-with-whitepace--block {
    width: 656px;
}

.section-first__Get-More-Done-with-whitepace--container {
    width: 824px;
    height: 549px;
}

.section-second__Project-Management {
    padding: 140px 220px 100px 220px;
}

.section-second__Project-Management--background-image {
    top: 280px;
    left: 0px;
}

.section-second__Project-Management--block {
    width: 672px;
    margin-right: 60px;
}

.section-second__Project-Management--highlight-image {
    top: 235px;
    left: 0px;
}

.section-second__Project-Management--container {
    width: 748px;
    height: 547px;
}

.section-second__Work-together {
    padding: 0px 220px 140px 220px;
}

.section-second__Work-together--container {
    width: 710px;
    height: 661px;
}

.section-second__Work-together--block {
    width: 670px;
    margin-left: 100px;
}

.section-second__Work-together--highlight-image {
    top: 245px;
    left: 218px;
}

.section-third__Use-as-Extension {
    padding: 140px 220px 140px 220px;
}

.section-third__Use-as-Extension--block {
    width: 697px;
    margin-right: 98px;
}

.section-third__Use-as-Extension--highlight-image {
    top: 168px;
    left: 260px;
}

.section-third__Use-as-Extension--container {
    width: 686px;
    height: 479px;
}

.section-fourth__Customise-it-to-your-needs {
    padding: 140px 220px 140px 220px;
}

.section-fourth__Customise-it-to-your-needs--container {
    width: 714px;
    height: 532.09px;
}

.section-fourth__Customise-it-to-your-needs--block {
    width: 669px;
    margin-left: 98px;
}

.section-fourth__Customise-it-to-your-needs--highlight-image {
    top: 226px;
    left: -10px;
}

.section-fourth__Choose-Your-Plan {
    padding: 140px 220px 140px 220px;
}

.section-fourth__Choose-Your-Plan--block {
    width: 979px;
    margin-bottom: 60px;
}

.section-fourth__Choose-Your-Plan--highlight-image {
    top: 59px;
    left: 484px;
}

.section-fourth__Choose-Your-Plan--container {
    width: 1481px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-fourth__Choose-Your-Plan--container-part {
    padding: 40px 44px 40px 44px;
    border-radius: 10px;
    width: 472.33px;
    background-color: var(--white);
    border-color: var(--yellow);
    border-style: solid;
    transition: 0.3s linear;
}

.section-fourth__Choose-Your-Plan--container-mark {
    background-image: url("/assets/images/section-fourth__Choose-Your-Plan--circle-check-image.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 18.01px;
    height: 18.01px;
    margin-right: 19px;
}

.section-fourth__Choose-Your-Plan--container-content {
    width: 347.33px;
}

.section-fourth__Choose-Your-Plan--container-button {
    padding: 16px 40px 16px 40px;
    border-radius: 8px;
    color: var(--black);
    background-color: var(--white);
    border-color: var(--yellow);
    border-style: solid;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.section-fourth__Choose-Your-Plan--container-part:hover {
    padding: 80px 44px 80px 44px;
    background-color: var(--blue1);
    border: none;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
}

.section-fourth__Choose-Your-Plan--container-part:hover .section-fourth__Choose-Your-Plan--container-title:nth-child(1) {
    color: var(--white);
}

.section-fourth__Choose-Your-Plan--container-part:hover .section-fourth__Choose-Your-Plan--container-title:nth-child(2) {
    color: var(--yellow);
}

.section-fourth__Choose-Your-Plan--container-part:hover .section-fourth__Choose-Your-Plan--container-title:nth-child(3) {
    color: var(--white);
}

.section-fourth__Choose-Your-Plan--container-part:hover .section-fourth__Choose-Your-Plan--container-mark {
    background-image: url("/assets/images/section-fourth__Choose-Your-Plan--circle-check-hover-image.png");
}

.section-fourth__Choose-Your-Plan--container-part:hover .section-fourth__Choose-Your-Plan--container-content {
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
}

.section-fourth__Choose-Your-Plan--container-part:hover .section-fourth__Choose-Your-Plan--container-button {
    color: var(--white);
    background-color: var(--blue2);
    border: none;
}

.section-fifth__Your-work-everywhere-you-are {
    padding: 140px 220px 140px 220px;
}

.section-fifth__Your-work-everywhere-you-are--background-image {
    left: 0px;
    top: -200px;
}

.section-fifth__Your-work-everywhere-you-are--block {
    width: 1094px;
}

.section-fifth__Your-work-everywhere-you-are--highlight-image {
    top: 62px;
    left: 803px;
}

.section-sixth__100-your-data {
    padding: 140px 220px 140px 220px;
}

.section-sixth__100-your-data--block {
    width: 800px;
}

.section-sixth__100-your-data--highlight-image {
    top: 106px;
    left: 218px;
}

.section-sixth__100-your-data--container {
    width: 681px;
    height: 381.13px;
}

.section-sixth__Our-sponsors {
    padding: 140px 220px 140px 220px;
}

.section-sixth__Our-sponsors--block {
    width: 1482px;
    margin-bottom: 100px;
}

.section-sixth__Our-sponsors--highlight-image {
    top: 56px;
    left: 660px;
}

.section-sixth__Our-sponsors--container {
    width: 1482px;
    height: 71px;
}

.section-seventh__Work-with-Your-Favorite-Apps-Using-whitepace {
    padding: 140px 220px 140px 220px;
}

.section-seventh__Work-with-Your-Favorite-Apps-Using-whitepace--background-image {
    width: 100%;
    top: 10px;
    left: 0px;
}

.section-seventh__Work-with-Your-Favorite-Apps-Using-whitepace--container {
    width: 582px;
    height: 470.8px;
}

.section-seventh__Work-with-Your-Favorite-Apps-Using-whitepace--block {
    width: 798px;
    margin-left: 100px;
}

.section-eighth__What-Our-Clients-Says {
    padding: 140px 220px 140px 220px;
}

.section-eighth__What-Our-Clients-Says--block {
    width: 1479px;
    margin-bottom: 60px;
}

.section-eighth__What-Our-Clients-Says--highlight-image {
    top: 33px;
    left: 930px;
}

.section-eighth__What-Our-Clients-Says--container {
    width: 1479px;
}

.section-eighth__What-Our-Clients-Says--container-part {
    padding: 60px 40px 60px 40px;
    border-radius: 10px;
    background-color: var(--blue2);
    transition: 0.3s linear;
}

.section-eighth__What-Our-Clients-Says--container-part-first {
    width: 391.67px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--white);
}

.section-eighth__What-Our-Clients-Says--container-part-second {
    width: 383px;
}

.section-eighth__What-Our-Clients-Says--container-mark {
    background-image: url("/assets/images/section-eighth__What-Our-Clients-Says--quotes-image.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 86px;
    height: 61.46px;
}

.section-eighth__What-Our-Clients-Says--container-avatar {
    margin-right: 42px;
}

.section-eighth__What-Our-Clients-Says--container-part:hover {
    background-color: var(--white);
    box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
}

.section-eighth__What-Our-Clients-Says--container-part:hover .section-eighth__What-Our-Clients-Says--container-part-first {
    border-bottom-color: var(--black);
}

.section-eighth__What-Our-Clients-Says--container-part:hover .section-eighth__What-Our-Clients-Says--container-mark {
    background-image: url("/assets/images/section-eighth__What-Our-Clients-Says--quotes-hover-image.png");
}

.section-eighth__What-Our-Clients-Says--container-part:hover .section-eighth__What-Our-Clients-Says--container-content {
    color: var(--black);
}

/* OK */

.section-eighth__What-Our-Clients-Says--container-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--blue2);
}

