*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bl: black;
    --wh: white;
    --gr: rgb(0, 255, 0);
}

@font-face {
    font-family: WraithArcBlocks-5n0v;
    src: url('../fonts/WraithArcBlocks-5n0v.otf');
}

@font-face {
    font-family: Bartomes;
    src: url('../fonts/Bartomes.otf');
}

body {
    position: relative;
    background-color: var(--bl);
    width: 1280px;
}

.navbar {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 39.59px;
    padding-right: 39.59px;
    width: 1280px;
    height: 60px;
}

.navbar__link {
    font-family: WraithArcBlocks-5n0v;
    font-size: 49pt;
    color: var(--wh);
    text-decoration: none;
}

.navbar__link:hover {
    color: var(--gr);
}

#home {
    position: absolute;
    top: 159px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home__bottom {
    position: absolute;
    top: 395px;
}

.home__paragraph {
    position: absolute;
    top: 400px;
    left: 41px;
    font-family: Bartomes;
    font-size: 20px;
    color: var(--wh);
}

/* OK */