@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #043873;
  --text-color: #ffffff;
  --text-about: #212529;
  --bg-login: #ffe492;
  --bg-whitespace: #4f9cf9;
  --bg-about: white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  background: #043873;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 22px 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* navbar */
.navbar a {
  position: relative;
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 3.5rem;
}

.navbar .login {
  width: 78px;
  height: 1588px;
  padding: 16px 40px;
  gap: 10px;
  background: var(--bg-login);
  border-radius: 8px;
  margin-right: 24px;
}

.navbar .whitespace {
  width: 227px;
  height: 60px;
  padding: 16px 24px;
  gap: 10px;
  background: var(--bg-whitespace);
  border-radius: 8px;
}

#down-icon {
  width: 9px;
  height: 4px;
  padding-left: 20px;
}

/* section 1 */

#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 140px 220px;
  isolation: isolate;
  position: absolute;
  width: 1920px;
  height: 829px;
  left: 0px;
  top: 92px;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  width: 656px;
  height: 361px;
  top: 234px;
  left: 220px;
}

.home__content h2 {
  width: 656px;
  height: 154px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
}

.home__content p {
  width: 656px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.btn {
  display: flex;
  background: var(--bg-whitespace);
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 219px;
  height: 63px;
  transition-property: background, width, height, color;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: var(--text-color);
}

.btn:hover {
  background: orangered;
  width: 260px;
  height: 86px;
  color: var(--text-about);
}

.btn i {
  width: 10px;
  height: 10px;
  top: 26.5px;
  left: 189px;
}

.home__img img {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 724px;
  height: 549px;
}

/* section 2  */

#about {
  background: var(--bg-about);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 140px 220px;
  gap: 100px;
  position: absolute;
  width: 1920px;
  height: 1588px;
  left: 0px;
  top: 921px;
}

.about__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 60px;
  isolation: isolate;
  width: 1480px;
  height: 547px;
}

.about__headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 672px;
  height: 411px;
}

.about__text--block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  width: 672px;
  height: 288px;
}

.about__text--block h1 {
  width: 672px;
  height: 174px;
  color: var(--text-about);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
}

.about__text--block p {
  color: var(--text-about);
  width: 672px;
  height: 90px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.about__headline a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 201px;
  height: 63px;
  border-radius: 6px;
}

.about__content img {
  width: 650px;
  height: 547px;
}

.about__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 100px;
  width: 1480px;
  height: 661px;
}

.about__container img {
  width: 710px;
  height: 661px;
}

.about__work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 60px;
  width: 670px;
  height: 294px;
}

.about__work--together {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  width: 670px;
  height: 171px;
}

.about__work--together h1 {
  width: 670px;
  height: 87px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: var(--text-about);
}

.about__work--together p {
  width: 670px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--text-about);
}

.about__work a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 186px;
  height: 63px;
}

/* section 3 */

#extension {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 144px 220px;
  gap: 9px;
  position: absolute;
  width: 1921px;
  height: 759px;
  left: 0px;
  top: 2509px;
}

.extension__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 697px;
  height: 294px;
}

.extension__heading a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 171px;
  height: 63px;
  border-radius: 20px;
}

.extension__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  width: 697px;
  height: 171px;
}

.extension__text h1 {
  width: 697px;
  height: 87px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.extension__text img {
  position: absolute;
  left: 24.41%;
  right: 16.79%;
  top: 37.72%;
  bottom: 34.09%;
}

.extension__text p {
  width: 697px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.extension__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 686px;
  height: 479px;
}

.extension__content img {
  width: 686px;
  height: 479px;
}

/* section 4 */

#customise {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 140px 220px;
  gap: 98px;
  position: absolute;
  width: 1921px;
  height: 812.09px;
  left: 0px;
  top: 3268px;
  background: var(--bg-about);
}

#customise img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 714px;
  height: 532.09px;
}

.customise__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 669px;
  height: 411px;
}

.customise__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  width: 669px;
  height: 288px;
}

.customise__text h1 {
  width: 550px;
  height: 174px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: var(--text-about);
}

.customise__text p {
  width: 570px;
  height: 90px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--text-about);
}

.customise__heading a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 171px;
  height: 63px;
  border-radius: 8px;
}

/* section 5 */

#plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 220px;
  gap: 60px;
  position: absolute;
  width: 1921px;
  height: 1272px;
  left: 0px;
  top: 4080.09px;
  background: var(--bg-about);
}

.plan__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  width: 1481px;
  height: 171px;
}

.plan__heading h1 {
  width: 1481px;
  height: 87px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--text-about);
}

.plan__heading p {
  width: 850px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--text-about);
}

.plan__price--list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 1481px;
  height: 761px;
  margin-bottom: 50px;
}

.plan__price--board1 img {
  display: flex;
  width: 437.33px;
  height: 654px;
  margin-right: -32px;
}

.plan__price--board2 img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  width: 500.33px;
  height: 790px;
  border-radius: 10px;
}

.plan__price--board3 img {
  display: flex;
  margin-left: -32px;
}

/* section 6 */

#section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 220px;
  position: absolute;
  width: 1921px;
  height: 574px;
  left: 0px;
  top: 5352.09px;
  background: var(--bg-color);
}

.section6__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 60px;
  width: 1481px;
  height: 294px;
}

.section6__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  width: 1064px;
  height: 171px;
}

.section6__text h1 {
  width: 1064px;
  height: 87px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.section6__text p {
  width: 964px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
}

.section6__heading a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  isolation: isolate;
  border-radius: 8px;
  width: 195px;
  height: 63px;
}

/* section 7 */

#data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 140px 220px;
  position: absolute;
  width: 1921px;
  height: 661.13px;
  left: 0px;
  top: 5926.09px;
  background: var(--bg-about);
}

.data__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 800px;
  height: 324px;
}

.data__text--block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
  width: 800px;
  height: 201px;
}

.data__text--block h1 {
  width: 800px;
  height: 87px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: var(--text-about);
}

.data__text--block p {
  width: 600px;
  height: 90px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--text-about);
}

.data__heading a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 197px;
  height: 63px;
  border-radius: 8px;
}

.data__element {
  width: 681px;
  height: 381.13px;
}

/* section 8 */

#sponsors {
  display: flex;
  background: var(--bg-about);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 220px;
  gap: 100px;
  isolation: isolate;
  position: absolute;
  width: 1922px;
  height: 538px;
  left: -1px;
  top: 6587.22px;
}

#sponsors h1 {
  width: 1482px;
  height: 87px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--text-about);
}

.sponsors__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 100px;
  width: 1482px;
  height: 71px;
}

/* section 9 */

#apps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 140px 220px;
  gap: 100px;
  isolation: isolate;
  position: absolute;
  width: 1920px;
  height: 750.8px;
  left: 0px;
  top: 7125.22px;
}

.apps__logo img {
  width: 582px;
  height: 470.8px;
  top: 140px;
  left: 220px;
}

.apps__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 798px;
  height: 468px;
}

.apps__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 798px;
  height: 345px;
}

.apps__text h1 {
  width: 798px;
  height: 261px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 87px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.apps__text p {
  width: 578px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.apps__text img {
  position: absolute;
  width: 2041.06px;
  height: 700.4px;
  left: -60.03px;
  top: 9.78px;
}

.apps__heading a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 194px;
  height: 63px;
  border-radius: 8px;
}

/* section 10  */

#testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 220px;
  gap: 60px;
  isolation: isolate;
  position: absolute;
  width: 1919px;
  height: 994.46px;
  left: 0px;
  top: 7876.02px;
  background: var(--bg-about);
}

#testimonial h1 {
  width: 1479px;
  height: 84px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  text-align: center;
  color: var(--text-about);
}

.testimonial__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 1479px;
  height: 498.46px;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.testimonial__client1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 40px;
  gap: 60px;
  width: 471.67px;
  height: 498.46px;
  background: #4f9cf9;
  transition-property: background, width, height, border;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.testimonial__client1:hover {
  background: var(--bg-about);
  width: 550px;
  height: 550px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 40px;
  gap: 32px;
  width: 391.67px;
  height: 223.46px;
  border-bottom: 1px solid #212529;
}

.comment img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 86px;
  height: 61.46px;
}

.comment .text {
  width: 321.67px;
  height: 90px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--text-about);
}

.testimonial__client1 .name-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 42px;
  width: 383px;
  height: 95px;
}

.testimonial__client2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 40px;
  gap: 60px;
  width: 471.67px;
  height: 498.46px;
  transition-property: background, width, height, border;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  background: #4f9cf9;
  border-radius: 10px;
}

.testimonial__client2:hover {
  background: var(--bg-about);
  width: 550px;
  height: 550px;
}

/* section 11  */

#free__trial {
  display: flex;
  background: var(--bg-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 220px 32px;
  gap: 200px;
  position: absolute;
  width: 1920px;
  height: 705px;
  left: 0px;
  top: 8870.48px;
}

.free__trial--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 608px;
  height: 533px;
}

.free__trial--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 608px;
  height: 262px;
}

.free__trial--text h1 {
  width: 608px;
  height: 174px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  text-align: center;
  letter-spacing: -0.02em;
}

.free__trial--text p {
  width: 700px;
  height: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.02em;
}

.free__trial--heading a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 228px;
  height: 59px;
  border-radius: 10px;
}

.free__trial--heading p {
  width: 367px;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.02em;
}

.free__trial--heading img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 260px;
  height: 60px;
}

/* section footer */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 220px 32px;
  gap: 200px;
  position: absolute;
  width: 1920px;
  height: 474px;
  left: 0px;
  top: 9575.48px;
  background: var(--bg-color);
}

#footer .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
  isolation: isolate;
  width: 1480px;
  height: 302px;
}

.content .info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
  width: 1480px;
  height: 182px;
}

.info img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
  isolation: isolate;
  width: 1480px;
  height: 302px;
  top: 282px;
}

.content .btm {
  /* padding bottom 16px*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  gap: 60px;
  width: 1480px;
  height: 20px;
}

@media (max-width: 1440px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 3%;
    width: 1440px;
    height: 92px;
  }

  .navbar {
    width: 928.5px;
    height: 60px;
    padding: 17px;
  }

  .navbar a {
    width: 551.5px;
    height: 23px;
    padding: 0px;
    gap: 32px;
  }

  .navbar .login {
    padding: 16px 40px;
    gap: 10px;
    width: 126px;
    height: 60px;
  }

  .navbar .whitespace {
    padding: 16px 24px;
    gap: 10px;
    width: 227px;
    height: 60px;
  }

  #home {
    padding: 100px 32px;
    width: 1440px;
    height: 656.39px;
  }

  .home__content {
    width: 691px;
    height: 361px;
  }

  .home__img {
    gap: 3.33px;
    width: 670px;
    height: 456.39px;
  }

  #about {
    padding: 140px 32px;
    gap: 100px;
    width: 1440px;
    height: 1370.76px;
  }

  .about__content img {
    width: 630px;
    height: 448px;
  }

  #extension {
    padding: 140px 32px;
    width: 1440px;
    height: 759px;
    gap: 98px;
  }

  .extension__content img {
    width: 570px;
    height: 479px;
  }

  #customise {
    width: 1440px;
    height: 812.3px;
    padding: 140px 32px;
    gap: 60px;
  }

  #plan {
    width: 1440px;
    height: 1272px;
  }

  #section6 {
    width: 1440px;
    height: 709px;
  }

  #data {
    width: 1440px;
    height: 661.13px;
    padding: 140px 32px;
  }

  .data__element {
    width: 681px;
    height: 381.13px;
    margin-left: -260px;
  }

  #sponsors {
    width: 1440px;
    height: 538px;
    padding: 140px 32px;
  }

  .sponsors__box {
    width: 1376px;
    height: 71px;
  }

  #apps {
    width: 1440px;
    height: 750.8px;
    padding: 140px 32px;
  }

  #testimonial {
    width: 1440px;
    height: 994.46px;
    padding: 140px 32px;
  }

  #free__trial {
    width: 1440px;
    height: 709px;
    padding: 140px 32px 32px;
    gap: 200px;
  }

  #footer {
    width: 1440px;
    height: 474px;
    padding: 140px 32px 32px;
  }

  #footer .content {
    width: 1376px;
    height: 302px;
  }

  .btm {
    width: 1376px;
    height: 20px;
    padding-bottom: 16px;
  }
}

@media (max-width: 1152px) {
  html {
    font-size: 47%;
  }
}
