*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: WraithArcBlocks-5n0v;
    src: url('../fonts/WraithArcBlocks-5n0v.otf');
}

@font-face {
    font-family: Reboot Crush;
    src: url('../fonts/Reboot Crush.ttf');
}

:root {
    --bl: black;
    --wh: white;
    --gr: grey;
}

body {
    position: relative;
    background-color: var(--bl);
}

img {
    width: 100%;
}

.navbar__main {
    position: absolute;
    top: 6.66rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.navbar__main--list {
    position: relative;
}

.navbar__main--link {
    font-family: WraithArcBlocks-5n0v;
    font-size: 4.88rem;
    color: var(--wh);
    text-decoration: none;
}

.navbar__branch {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    list-style: none;
    min-width: 100%;
    z-index: 1;
    transition: 0.7s;
    opacity: 0;
    top: 4.2rem;
    visibility: hidden;
}

.navbar__branch--list {
    position: relative;
}

.navbar__branch--link {
    font-family: WraithArcBlocks-5n0v;
    font-size: 2.88rem;
    color: var(--wh);
    text-decoration: none;
}

.navbar__media--link .fa-facebook-f {
    background-color: #1877F2;
    color: var(--wh);
    font-size: 1.1rem;
    width: 2.8rem;
    height: 2.1rem;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0.3rem 0.7rem 0rem;
}

.navbar__media--link .fa-youtube {
    background-color: #CD201F;
    color: var(--wh);
    font-size: 1.1rem;
    width: 2.8rem;
    height: 2.1rem;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0.3rem 0.7rem 0rem;
}

.navbar__media--link .fa-tiktok {
    background-color: #000000;
    color: var(--wh);
    font-size: 1.1rem;
    width: 2.8rem;
    height: 2.1rem;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0.3rem 0.7rem 0rem;
}

.navbar__main--list:hover .navbar__branch {
    opacity: 1;
    top: 5.17rem;
    visibility: visible;
}

.navbar__main--link:hover {
    color: var(--gr);
}

.navbar__branch--link:hover {
    color: var(--gr);
}

.navbar__media--link .fa-brands:hover {
    opacity: 0.8;
}

.home__main {
    position: relative;
    top: -0.25rem;
    display: flex;
}

.home__block--left {
    width: 1.33%;
    order: 1;
}

.home__block--right {
    width: 1.33%;
    order: 3;
}

.home__block--center {
    width: 97.34%;
    order: 2;
}

.home__main--bottom {
    position: relative;
    top: -0.25rem;
}

.home__content--first {
    position: absolute;
    right: 2.05rem;
    bottom: 2.15rem;
    font-family: WraithArcBlocks-5n0v;
    font-size: 4.88rem;
    color: var(--wh);
    cursor: pointer;
}

.home__sub {
    position: relative;
    top: -0.73rem;
    display: grid;
    grid-template-columns: 1.33% 47.38% 2.58% 47.38% 1.33%;
}

.home__sub--left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.home__sub--right {
    grid-column: 5 / 6;
    grid-row: 1 / 3;
}

.home__sub--center {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.home__sub--bottom {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}

.home__content--second {
    position: absolute;
    right: 41.41rem;
    bottom: 2.25rem;
    font-family: WraithArcBlocks-5n0v;
    font-size: 2.88rem;
    color: var(--wh);
    cursor: pointer;
}

.home__content--third {
    position: absolute;
    right: 2.05rem;
    bottom: 2.25rem;
    font-family: WraithArcBlocks-5n0v;
    font-size: 2.88rem;
    color: var(--wh);
    cursor: pointer;
}

.home__content--first:hover {
    color: var(--gr);
}

.home__content--second:hover {
    color: var(--gr);
}

.home__content--third:hover {
    color: var(--gr);
}

#about {
    background-image: url("/assets/about__background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: -0.7rem;
    padding-top: 33.75%;
}

/* .about__block--first {
    position: absolute;
    top: 22.35%;
    right: 76.25%;
    bottom: 3.75%;
    left: 1.25%;
    transition: 0.7s;
} */

.about__block--second {
    position: absolute;
    top: 22.35%;
    right: 51.25%;
    bottom: 3.75%;
    left: 26.25%;
}

.about__block--third {
    position: absolute;
    top: 22.35%;
    right: 26.25%;
    bottom: 3.75%;
    left: 51.25%;
}

.about__block--fourth {
    position: absolute;
    top: 22.35%;
    right: 1.25%;
    bottom: 3.75%;
    left: 76.25%;
}

.about__content--first {
    position: absolute;
    top: 0.45rem;
    left: 1rem;
    font-family: Reboot Crush;
    font-size: 1.77rem;
    color: var(--wh);
}

.about__content--second {
    position: absolute;
    top: 3.75rem;
    left: 1rem;
    font-family: Reboot Crush;
    font-size: 0.88rem;
    color: var(--wh);
}

/* OK */

.about__block--first {
    position: absolute;
    top: 22.35%;
    right: 76.25%;
    bottom: 3.75%;
    left: 1.25%;
    transition: 0.7s;
}

.about__picture--first:hover {
    transform: scale(1.1);
}

