body{
    background-color: white;
}

header{
    width: 100%;
    min-height: 58px;
    background-color: mediumturquoise;
    position: fixed;
    top: 0;
}

.header__navBar{
    min-height: 40px;
    background-color: mediumturquoise;
    display: flex;
}

li .header__nav{
    display: inline;
    list-style-type: none;
    margin-left: 20px;
    color: red;
}




.contain{
    width: 100%;
    min-height: 8000px;
    background-color: white;
}




footer{
    width: 100%;
    min-height: 36px;
    background-color: mediumturquoise;
    position: fixed;
    bottom: 0;
}

footer__contain{
    display: flex;
}

.footer__contactBox{
    width: 50%;
    position: relative;
    right: 0;
}

.footer__socialContactBox{
    width: 50%;
    position: relative;
    left: 0;
}