*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

button {
  text-align: center;
  color: white;
  background-color: var(--jacarta);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button:hover {
  background-color: var(--opal);
  transition: var(--smooth);
}

/*
CSS Variable
*/

:root {
  --polishedPine: #54b192;
  --jacarta: #3f3d56;
  --jet: #363636;
  --opal: #a4cec0;
  --smooth: all 0.3s ease-in;
}

/*
Header
*/

header {
  position: absolute;
  width: 100%;
  padding: 0 100px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}

#overlay.show {
  display: initial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar__logo img {
  width: 57px;
  height: 57px;
  object-fit: cover;
}

.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: var(--jacarta);
  z-index: 9999999;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}

.navbar__links button {
  margin-top: 32px;
}

.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar__link {
  list-style: none;
  margin: 55px;
  color: var(--jet);
  font-weight: 200;
}

.navbar__link a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  transition: var(--smooth);
}

.navbar__link a:hover {
  color: var(--polishedPine);
  transition: var(--smooth);
}

.navbar__btn {
  font-size: 1rem;
  /*1rem = 16px*/
  background-color: var(--polishedPine);
  margin-left: 45px;
}

.navbar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}

.navbar__icon {
  width: 45px;
  height: 6px;
  background-color: var(--jacarta);
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon:before,
.navbar__icon:after {
  content: '';
  position: absolute;
  width: 45px;
  height: 6px;
  background-color: var(--jacarta);
  border-radius: 5px;
  transition: var(--smooth);
}

.navbar__icon:before {
  transform: translateY(-12px);
}

.navbar__icon:after {
  transform: translateY(12px);
}

/* button animation*/
.open .navbar__icon {
  transform: translateX(-50px);
  background-color: transparent;
}

.open .navbar__icon:before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open .navbar__icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/*vh-view height*/
#banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6rem;
}

.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.banner__heading {
  max-width: 300px;
  text-align: center;
  color: var(--jacarta);
}

.banner__heading h1 {
  font-size: 2.25rem;
  padding-top: 4em;
  margin-bottom: 0.8em;
  text-align: center;
}

.banner__heading p {
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 1.5em;
  text-align: center;
}

.banner__heading button {
  position: relative;
}

.banner__btn {
  font-size: 1rem;
}

.banner__socials {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.banner__socials a {
  color: var(--jacarta);
  transition: var(--smooth);
}

.banner__socials a:hover {
  color: var(--polishedPine);
  transition: var(--smooth);
}

#things {
  position: relative;
  overflow-x: hidden;
  margin-top: 15em;
  background-color: red;
}

#things h2 {
  text-align: center;
  color: var(--jacarta);
  margin-bottom: 3em;
}

.things__item {
  margin: 3em 0;
  padding: 0 320px;
}

.things__item img {
  padding-bottom: 4em;
  object-fit: contain;
  width: 30%;
  align-items: center;
}

.things__item--heading {
  text-align: center;
  color: var(--jacarta);
}

.things__item--heading p {
  font-weight: 300;
  line-height: 2em;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 1em;
}

.things__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}

.things__dec:nth-child(2) {
  top: initial;
  left: initial;
  bottom: 15%;
  right: 0;
  transform: translateX(60%);
  z-index: -1;
}

#works {
  padding-top: 10em;
  position: relative;
  overflow-x: hidden;
}

#works h2 {
  text-align: center;
  color: var(--jacarta);
}

.works__img--single {
  margin: 2em 0;
}

.works__btn {
  text-align: center;
  margin-top: 8em;
}

.works__btn button {
  font-size: 1rem;
}

.works__img--single:nth-child(odd) {
  padding-top: 5em;
}

.works__img--single:nth-child(3) {
  margin-top: -5em;
}

#footer {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer__img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(25%);
  z-index: -1;
}

.footer__heading {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: var(--jacarta);
}

.footer__contact {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

.footer__contact a {
  text-decoration: none;
  color: var(--jacarta);
  display: flex;
}

.footer__contact a:hover {
  transition: var(--smooth);
  color: var(--polishedPine);
}

.footer__contact i {
  margin-right: 8px;
}

@media (min-width: 62em) {
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
  }

  .navbar__link a {
    color: var(--jet);
  }

  .navbar__icons {
    display: none;
  }

  .navbar__btn {
    background-color: var(--jacarta);
  }

  .banner__heading {
    text-align: initial;
    margin: 0 auto;
    padding-top: 0;
    justify-content: center;
    align-items: center;
  }

  .banner__heading button {
    margin-left: 64px;
  }

  .banner__socials {
    align-items: center;
    padding-left: 32px;
  }

  .banner__socials a {
    margin-right: 45px;
  }

  .banner__img {
    width: 60%;
  }

  .things__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .things__item img {
    width: 40%;
    padding-bottom: 0;
    padding-left: 16px;
  }

  .things__item--heading {
    width: 45%;
    text-align: initial;
  }

  .things__item--heading p {
    max-width: 500px;
    margin: 0;
  }
  .things__item:nth-child(odd) img {
    order: 2;
    width: 40%;
    padding-bottom: 0;
  }

  .things__item--heading:nth-child(odd) {
    order: 1;
    width: 45%;
    text-align: initial;
  }

  #works h2 {
    margin-bottom: 3em;
  }

  .works__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .works__img--single {
    margin: 0 5em;
    width: 35%;
  }

  .works__img--single:nth-child(3) {
    margin-top: 0;
  }

  #footer {
    justify-content: initial;
    align-items: center;
    padding-left: 240px;
  }

  .footer__img {
    top: -15%;
    right: 0;
    transform: translateX(32%);
    width: 60%;
  }

  .footer__heading {
    text-align: initial;
    margin: 0;
  }

  .footer__contact {
    display: flex;
    justify-content: space-between;
  }
}
