*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  min-height: 1500px;
  position: relative;
}

#header {
  width: 100%;
  margin-top: 20px;
  min-height: 58px;
  background-color: mediumturquoise;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 9999;
}

.header__navBar {
  min-height: 40px;
  background-color: mediumturquoise;
}

.header__navBar--ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__navBar--li {
  list-style: none;
  margin-top: 40px;
  margin-left: 90px;
  font-size: 32px;
  color: white;
}

.header__navBar--li:hover {
  color: rgb(216, 39, 223);
}

#contain {
  width: 100%;
  background-color: white;
  position: absolute;
  margin-top: 150px;
}

#contain h1{
  text-align: center;
}

.info {
  width: 100%;
  margin-bottom: 100px;
  align-items: center;
}

.thingIDo {
  width: 100%;
  margin-bottom: 100px;
}

.recentWork {
  width: 100%;
  margin-bottom: 100px;
}

.littleAboutHobbit {
  width: 100%;
  margin-bottom: 100px;
}

#footer {
  width: 100%;
  min-height: 36px;
  background-color: mediumturquoise;
  bottom: 0;
  position: absolute;
}

.footer__contain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer p{
  font-size: 60px;
}

p.footer__info {
  font-size: 24px;
}

.footer__contactBox {
  width: 33%;
  margin-left: 30px;
}

.footer__socialContactBox {
  width: 33%;
  margin-left: 30px;
}

@media (min-width: 300px) {
}
