*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background: #043873;
    font-family: 'Roboto', sans-serif;
}
.nav{
    background: #043873;
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 220px;
position: absolute;
width: 1920px;
height: 100px;
    

}
.logo{
    position: absolute;
    width: 37px;
    height: 29px;
    padding-top:30px ;
    padding-left: 220px;
    left: 0px;
    top: 2.5px;
    
}
.nav ul{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 350px;
    gap: 32px; 
    list-style-type: none;
    
}
.nav li{
    padding-left: 30px;
}
.nav ul li a{
    
    display: flex;

    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
.login{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 10px; 
    background: #FFE492;
    border-radius: 9px;
}
.try{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    border-radius: 8px;
    background: #4F9CF9;
}
.header{
    display: flex;
    padding-top: 92px;
}
.header .text_header ul li{
    color: #fff;
    display: block;
}
.header h1{
    font-weight: 700;
}
.text_header{
    padding-left: 220px;
    padding-top: 234px;
    width: 40%;
}
.img_header{
    padding-left: 20px;
    padding-top: 140px;
    width: 60%;
    
}