* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 24px;
    background-color: black;
}

.header__pro--banner {
    display: flex;
    flex-wrap: wrap;
}

.header__pro--banner div {
    width: 1rem;
    height: 1rem;
}

.header__pro--banner div:nth-child(odd) {
    background-color: grey;
}