* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* color */
  --color-blue: #043873;
  --color-white: white;
  --color-black: black;
  --color-button: #4f9cf9;

  /* font-size */
  --bigger-font-size: 64px;
}

/* HEADER */
.header {
  background-color: var(--color-blue);
}

.nav__container {
  display: flex;
}
