* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-Inter);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a,
i {
  color: var(--color-white);
  text-decoration: none;
}

p {
  color: var(--color-white);
}

:root {
  /* color */
  --color-blue: #043873;
  --color-white: #ffffff;
  --color-black: black;
  --color-button: #4f9cf9;
  --color-button-login: #ffe492;
  --color-background-img: #c4defd;

  /* font-size */
  --font-Inter: 'Inter', sans-serif;
  --bigger-font-size: 64px;
  --small-font-size: 18px;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--color-blue);
  top: 0;
  left: 0;
}

.nav__container,
.nav__list,
.nav__button,
.nav__menu,
.nav__item {
  display: flex;
  align-items: center;
}

.nav__container {
  padding-top: 2.15rem;
  padding-bottom: 2.15rem;
  justify-content: space-between;
  padding-left: 13.75rem;
  padding-right: 13.75em;
  height: 10vh;
}

.nav__list {
  gap: 4.5rem;
}

.nav__item p {
  margin-right: 1.25rem;
}

.nav__button-login {
  border-radius: 8px;
  background-color: var(--color-button-login);
  padding: 1.15rem 1.25rem;
  color: var(--color-black);
  margin-left: 4rem;
  transition: 0.2s;
}

.nav__button-try {
  border-radius: 8px;
  background-color: var(--color-button);
  padding: 1.15rem 1.38rem;
  transition: transform 0.2s;
  margin-left: 1.5rem;
}

.nav__button-login:hover,
.nav__button-try:hover {
  transform: translateY(-0.2rem);
}

.nav__button-try i {
  margin-left: 0.94rem;
}

/* Section 1 */
.section1__container {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  padding-left: 13.75rem;
  padding-right: 13.75rem;
  background-color: #043873;
  height: 90vh;
  /* border-top: solid var(--color-button) 2px; */
  background-image: url('./acssets/img/img_background_section1.png');
}

.section1__title {
  color: var(--color-white);
  font-size: 64px;
  font-family: var(--font-family);
  font-size: var(--bigger-font-size);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.section1__content {
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: var(--small-font-size);
  font-weight: 400;
  margin-bottom: 3.75rem;
}

.section1__button {
  border-radius: 8px;
  background-color: var(--color-button);
  padding: 1.25rem 1.6rem 1.25rem 1.25rem;
  font-family: var(--font-family);
  transition: 0.2s;
}

.section1__button i {
  margin-left: 0.94rem;
}
/*
.section1__button:hover {
  background-color: #ffe492;
  transition: transform 0.5s;
} */

#section1 a:hover {
  margin: 16px;
}

.section1__img {
  background-color: var(--color-background-img);
  border-radius: 2rem;
  width: 51.5rem;
  height: 34.5rem;
  overflow: hidden;
}

.section1__img img {
  width: 100%;
  height: 100%;
  transition: 3s;
}

.section1__img img:hover {
  transform: scale(1.2);
}
