/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  --color1: #043873;
  --color2: #C4DEFD;
  --color3: #4F9CF9;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  padding: 18vw 2.6vw;
}
@media screen and (min-width: 769px) {
  .container {
    display: flex;
    align-items: center;
    padding: 140px 32px;
  }
}

.header {
  background-color: var(--color1);
  padding: 4.1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.5vw;
}

.footer__nav {
  height: 50px;
  background-color: #ED9747;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__nav .nav__item {
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  width: 172px;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer__nav .nav__item {
    font-size: 4.5vw;
  }
}
.footer__contact {
  background-color: #515151;
  padding: 20px 20% 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .footer__contact {
    align-items: center;
    padding: 5%;
  }
}
.footer__contact .contact__address {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.footer__contact .contact__link {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  display: block;
  margin-top: 20px;
}
.footer__auth {
  background-color: #A1C96F;
  padding: 0 15%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .footer__auth {
    justify-content: center;
    font-size: 4vw;
  }
}

.mv {
  background-color: var(--color1);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.mv__bg {
  position: absolute;
  z-index: -1;
  top: 30%;
}
@media screen and (min-width: 769px) {
  .mv__bg {
    top: 30%;
    height: 433px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.mv__title {
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 7vw;
}
@media screen and (min-width: 769px) {
  .mv__title {
    font-size: 64px;
  }
}
.mv__para {
  text-align: center;
  font-size: 2.3vw;
  color: #fff;
  margin-top: 3vw;
}
@media screen and (min-width: 769px) {
  .mv__para {
    margin-top: 24px;
    font-size: 18px;
  }
}
.mv__pic {
  margin: 5vw auto;
  width: 70vw;
  height: 47vw;
  background-color: var(--color2);
}
@media screen and (min-width: 769px) {
  .mv__pic {
    margin: unset;
    width: 57%;
    height: 549px;
  }
}

.btn {
  width: 232px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
  color: #fff;
  border-radius: 8px;
  margin-top: 7.8vw;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 769px) {
  .btn {
    margin-top: 60px;
  }
}

.main {
  width: 60%;
  max-width: 850px;
  min-width: 768px;
  margin: 0 auto 185px;
}
@media screen and (max-width: 768px) {
  .main {
    width: 90%;
    margin: 0 auto 8vw;
    font-size: 4vw;
    min-width: unset;
  }
}
.main .post {
  padding: 25px;
}
.main .post__title {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 5px;
  height: 125px;
}
@media screen and (max-width: 768px) {
  .main .post__title {
    font-size: 8vw;
    height: 20vw;
  }
}
.main .post__title:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ED9747;
  position: relative;
  margin-right: 20px;
}
.main .post__title:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: 0;
}
.main .post__para {
  font-size: 24px;
  font-weight: 300;
  padding-left: 75px;
  padding-right: 150px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .main .post__para {
    padding: 0 5%;
    font-size: 4vw;
    margin-top: 8vw;
  }
}

/*# sourceMappingURL=style.css.map */
