.project .card .img1 {
  display: flex;
}

.card {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  font-size: 20px;
  position: relative;
  width: 90%;
  height: auto;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.img-content {
  padding-left: 250px;
  border-radius: 30px;
}
.img-content img {
  width: 60%;
  height: 60%;
  border-radius: 30px;
}
.container {
  padding: 1rem 1rem;
  display: block;
}

.click-here {
  text-align: center;
}
.click-here :hover {
  color: red;
}
.container {
  width: 1150px;
  padding-left: 220px;
  padding-top: 80px;
}
