*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background: #043873;
    font-family: 'Inter', sans-serif;
}
.nav{
   
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 220px;
position: absolute;
width: 1920px;
height: 100px;
    

}
.logo{
    color: white;
    position: absolute;
    width: 37px;
    height: 29px;
    padding-top:30px ;
    padding-left: 220px;
    left: 0px;
    top: 2.5px;
    
}
.nav ul{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 250px;
    gap: 32px; 
    list-style-type: none;
    
}
.nav li{
    padding-left: 30px;
}

.login{
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    margin-left: 140px;
    gap: 10px; 
    background: #FFE492;
    border-radius: 9px;
}
.nav .nav_item1 .login a{
    color: #043873;
    font-weight: 500;
font-size: 18px;
}
.nav ul a{  
    display: flex;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
font-size: 18px;
}

.try{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    border-radius: 8px;
    background: #4F9CF9;
}
.header{
    display: flex;
    padding-top: 92px;
}
.header .text_header ul li{
    color: #fff;
    display: block;
}
.header h1{
    font-weight: 700;
}
.text_header{
    padding-left: 220px;
    padding-top: 234px;
    width: 40%;
}
.text_header ul li{
    padding-bottom: 20px;
}
.img_header{
    padding-left: 20px;
    padding-top: 140px;
    width: 60%;
    padding-bottom: 140px;
    
}
.btn_header{  
    
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;   
    width: 259px;
    height: 63px;
    list-style-type: none;
    background: #4F9CF9;
    border-radius: 8px;

}
.header .btn_header a{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    color: #fff;
    text-decoration: none;
}
.section_2{
   background-color: #fff;
   display: flex;
}
.section_2_text{
    display: block;
    padding-top: 208px;
    padding-left: 220px;
   width: 40%;
    
}
.section_2_text h1{
    width: 500px;
    font-weight: 900;
    font-size: 60px;
    position: absolute;
}
.section_2_text .img-underlined{
    position: absolute;
    top: 1220px;
}
.section_2_text h4{
    padding-top: 150px;
}
.section_2_img{
    padding-left: 114x;
    display: block;
    width: 60%;

}
.section_2_text ul li{
    padding-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
}

.section_2_img .img_section_2 {
    padding-top: 140px;
    padding-left: 60px;
    width: 60%;
}
.section_2_text_btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 40px;
gap: 10px;
width: 201px;
height: 63px;
background: #4F9CF9;
border-radius: 6px;
}
.section_2_text_btn a{
    text-decoration: none;
    display: flex;
    font-weight: 500;
    font-size: 18px; 
    color: #fff;
}
.section_2_img ul li h1{
    padding-left: 114px;
    padding-top: 283px;
}
.section_2_img h4{
    padding-left: 114px;
    
}


.section_2_img ul li{
    padding-left: 114px;
    padding-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
}
.section_2_img .section_2_text_btn_2{
    margin-left: 114px;
    padding-bottom: 323px;

}
.section_2_img .section_2_text_btn_2 a{
    display: flex;
    text-decoration: none;
    width: 186px;
    height: 63px;
    align-items: center;
    background: #4F9CF9;
    border-radius: 6px;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}
.section_3{
    display: flex;
flex-direction: row;
align-items: center;
padding: 140px 220px;
gap: 98px;
background: #043873;
position: absolute;
width: 1921px;
height: 759px;
position: absolute;
}
.section_3_text{
   width: 40%;
   
}
.section_3_text ul li{
 display: block;
 padding-bottom: 20px;
 text-decoration: none;
 list-style-type: none;
 color: #FFFFFF;
}
.section_3_text ul li h1{ 
    position: absolute;
    font-weight: 700;
    
    
}
.section_3_text ul li h4{ 
    padding-top: 24px;
    width: 400px;
    font-weight: 400;
    
    
}
.section_3 .section_3_img{
 
    width: 80%;
}

.section_3_text .section_3_btn a{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    width: 191px;
    height: 63px;
    background: #4F9CF9;
    border-radius: 6px;
    text-decoration: none;
}
.section_3_text .img-underlined-2{
    position: absolute;
    top: 1000px;
}
.section_4{
    display: flex;
    background-color: #fff;
    padding-top: 899px;
}
.section_4_img{
    padding-left: 220px;
}
.section_4_text{
    display: block;
}
.section_4_text ul li{
    padding-left: 98px;
    padding-bottom: 20px;
}
.section_4_btn{
    display: flex;
}
.section_4_btn a{
    display: flex;
    text-decoration: none;

    align-items: center;
    background: #4F9CF9;
    border-radius: 6px;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}
.section_5{
    height: 1300px;
    background-color: #fff;
}
.section_5 h1{   
    width: 1481px;
    height: 87px;
    padding-top: 280px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    padding-left: 600px;
}
.section_5 h4{
    padding-top: 94px;
    width: 1500px;
    height: 60px;
    padding-left: 400px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    padding-bottom: 123px;
}
.section_5_card ul {

list-style: none;
}
.section_5_card ul li{
padding-top: 25px;
font-size: 14px;
margin-left: 20px;
display: flex;
}
.section_5_card{
    display: flex;
    padding-bottom: 140px;
}
.section_5_card .card-1{
    padding: 44px;
    margin-left:220px;
    width: 472.33px;
    height: 634px;
    border: 3px solid #111;
    border-radius: 5px;
    margin-right: 20px;
}
.section_5_card .card-2{
    padding: 44px;
    width: 472.33px;
    height: 634px;
    border: 3px solid #111;
    border-radius: 5px;
    margin-right: 20px;
}
.section_5_card .card-3{
    padding: 44px;
    width: 472.33px;
    height: 634px;
    border: 3px solid #111;
    border-radius: 5px;
}
.card-1:hover{
    background-color: #043873;
}
.card-2:hover{
    background-color: #043873;
}
.card-3:hover{
    background-color: #043873;
}
.section_6{
    background-color: #043873;   

    height: 574px;
}
.section_6 h1{
    font-weight: 900;
    color: #fff;
    padding-top: 140px;
    padding-left: 500px;
    font-size: 60px;
    
}
.section_6 p{
    width: 1400px;
    padding-left: 500px;
    text-align: center;
    font-size: 13px;
    padding-top: 24px;
    color: #fff;
}
.section_6_btn {
    margin-top: 60px;
margin-left: 840px;    
text-align: center;  
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 40px;
isolation: isolate;
width: 195px;
height: 63px;
background: #4F9CF9;
border-radius: 8px;
color: #FFFFFF;
}
.section_6_btn a{
    display: flex;
    
}
.section_7{
    
    background-color: #fff;
}
.section_7_btn {
    margin-top: 60px;
margin-left: 220px;    
text-align: center;  
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 40px;
isolation: isolate;
width: 195px;
height: 63px;
background: #4F9CF9;
border-radius: 8px;
}
.section_7_btn a{
    color: #FFFFFF;
    display: flex;
    
}
.section_7 h1{
    padding-left: 220px;
    padding-top: 168px;
}
.section_7 h4{
    width: 800px;
    padding-left: 220px;
    padding-top: 24px;
}
.section_7 .section_7-text{
    padding-top: 308px;
    width: 1482px;
    padding-left: 580px;
    font-size: 30px;
    font-weight: 800;
}
.section_7-img{
    padding-top: 114px;
}
.section_7-img ul{
 display: flex;
 padding-left: 220px;
}
.section_7-img ul li{
    padding-right: 230px;
    list-style: none;
   }
   @media only screen and (max-width: 1440px) {
    .nav .logo{
        padding-left: 32px;
    }
    .nav ul{
        padding-left: 160px;
     
    }
    .login{
        margin-left: 50px;
    }
    .nav li{
        padding-left: 20px;
    }
    .text_header{
        padding-left: 32px;
       
    }
    .img_header a img {
        width: 685px;
        height: 456px;
    }
    .section_2_text{
        padding-left: 32px;      
    }
    .section_2 .img-underlined{
        top: 1130px;
    }
    .section_3{
        padding-left: 32px;
    }
    .section_4_img{
        padding-left: 32px;
        
    }
    .section_4_img a img{
        width: 686px;
        height: 480px;
    }
    .section_5 h1{   
        width: 1481px; 
        padding-left: 350px;
    }
    .section_5 h4{
        width: 1200px;
        padding-left: 150px;
    }
    .section_5_card .card-1{
        margin-left: 32px;
    }
    .section_6 h1{
        padding-left: 270px;       
    }
    .section_6 p{
        width: 1100px;
        padding-left: 270px;
       
    }
    .section_6_btn {
    margin-left: 600px;    
    }
    .section_7 h1{
        padding-left: 32px;
        
    }
    .section_7 h4{
        padding-left:32px;
        
    }
   
    .section_7_btn {
    margin-left: 32px;    
    }
    .section_7-img ul{
        
        padding-left: 32px;
       }
  }
