*{
  --color1: #043873;
  --color2: #C4DEFD;
  --color3: #4F9CF9;
}

body{
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.container{
  padding: 18vw 2.6vw;
  @media screen and (min-width: 769px){
    display: flex;
    align-items: center;
    padding: 140px 32px;
  }
}