.mv{
  background-color: var(--color1);
  position: relative;
  z-index: 1;
  overflow: hidden;
  @include pc{

  }
  &__bg{
    position: absolute;
    z-index: -1;
    top: 30%;
    @include pc{
      top: 30%;
      height: 433px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title{
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 7vw;
    @include pc{
      font-size: 64px;
    }
  }

  &__para{
    text-align: center;
    font-size: 2.3vw;
    color: #fff;
    margin-top: 3vw;
    @include pc{
      margin-top: 24px;
      font-size: 18px;
    }
  }

  &__pic{
    margin: 5vw auto;
    width: 70vw;
    height: 47vw;
    background-color: var(--color2);
    @include pc{
      margin: unset;
      width: 57%;
      height: 549px;
    }
  }
}