:root {
  --first-color: hsl(210, 100%, 70%);
  --first-color-alt: hsl(210, 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: hsl(228, 15%, 20%);
  --container-color: hsl(229, 14%, 15%);
  --skills-color: hsl(228, 6%, 17%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --header-height: 5rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* css class  */
.container {
  max-width: 1120px;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 7rem 2rem;
}

.section__title,
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section__title {
  font-size: var(--bigger-font-size);
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}

.section__subtitle span {
  color: var(--first-color);
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/* header & nav */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}
.nav__logo span {
  color: var(--first-color);
}
.nav__close,
.nav__toggle {
  display: none;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}
.nav__list {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-regular);
  transition: color 0.4s;
}
.nav__link:hover {
  color: var(--first-color);
}

.blur-header::after {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

/* Navigation for mobile devices */

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 10%, 0.3);
    width: 55%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: right 0.4s;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  .nav__close,
  .nav__toggle {
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    padding-right: 1.5rem;
  }

  /* Show menu */
  .show-menu {
    right: 0;
  }
}

/*=============== HOME ===============*/
.home {
  background-color: var(--container-color);
}

.home__container {
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding-top: 2.5rem;
  padding-block: 2rem 9rem;
  row-gap: 2.5rem;
}

.home__content {
  display: grid;
  row-gap: 2.5rem;
}

.home__subtitle,
.home__education {
  font-size: var(--bigger-font-size);
}

.home__subtitle span,
.home__title {
  color: var(--first-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.home__description {
  margin-block: 1rem 2.5rem;
}

.home__social {
  display: flex;
  column-gap: 1.5rem;
}

.home__social-link {
  display: flex;
  background-color: var(--first-color-alt);
  padding: 0.5rem;
  color: var(--title-color);
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.2s;
}

.home__social-link:hover {
  transform: translateY(-0.25rem);
}

.home__image {
  justify-self: center;
}

.home__blob {
  width: 450px;
}

.home__blob path {
  stroke: var(--first-color);
}

.text__animation {
  color: rgb(141, 207, 7);
  animation: show 7s linear infinite;
}

@keyframes show {
  30% {
    color: rgb(0, 255, 234);
  }
  60% {
    color: rgb(241, 47, 21);
  }
}
/*=============== BUTTON ===============*/
.home__button,
.skills__button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  color: var(--title-color);
  transition: transform 0.2s;
}

.home__button {
  margin-left: 1.25rem;
}

.home__button:hover,
.skills__button:hover {
  transform: translateY(-0.25rem);
}

/*=============== SKILLS ===============*/
.skills {
  background-color: var(--skills-color);
  padding-block: 6rem 4rem;
}
.skills__container {
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  justify-content: center;
  padding-bottom: 1rem;
}
.skills__data {
  text-align: center;
}
.skills__description {
  margin-bottom: 1.5rem;
}

.skills__content,
.skills__group {
  display: grid;
}

.skills__group {
  list-style: decimal-leading-zero;
  grid-template-columns: repeat(2, max-content);
  column-gap: 5rem;
  justify-content: center;
  align-items: baseline;
}
.skills__item {
  font-weight: var(--font-medium);
  color: var(--title-color);
  font-size: var(--h3-font-size);
}
.skills__item::marker {
  color: var(--first-color);
}

/*=============== SERVICES ===============*/
.services__container {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  padding-block: 2rem 4rem;
  align-items: center;
}

.services__card {
  min-height: 25rem;
  text-align: center;
  background-color: var(--container-color);
  padding: 3.5rem 2rem;
  border-radius: 1rem;
  border: 2px solid var(--container-color);
  transition: border 0.4s;
}

.services__card:hover {
  border: 5px solid var(--first-color);
}

.services__icon {
  display: block;
  font-size: 4rem;
  color: var(--first-color);
  margin-bottom: 0.75rem;
}

.services__title {
  font-size: var(--h2-font-size);
}

/*=============== PROJECTS ===============*/
.projects {
  background-color: var(--container-color);
  padding-top: 3.5rem;
}
.projects__container {
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-block: 2.5rem 4rem;
}

.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.projects__img {
  width: 100%;
  height: 100%;
}

.projects__modal {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(162, 70%, 40%, 0.8) 120%
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: Blur(4px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom 0.4s;
}
.projects__subtitle,
.projects__button {
  color: var(--title-color);
}
.projects__subtitle {
  display: block;
  margin-bottom: 0.25rem;
  font-size: var(--small-font-size);
}

.projects__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.75rem;
}

.projects__button {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.projects__button i {
  font-size: 1.25rem;
}

.projects__card:hover .projects__modal {
  bottom: 0;
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--body-color);
  padding-block: 1rem 0.5rem;
  text-align: center;
}

.footer__container {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: 0.25rem;
}

.footer__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__subtitle span {
  color: var(--first-color);
}

.footer__card {
  background-color: var(--container-color);
  padding: 2rem;
  border-radius: 0.75rem;
  border: 2px solid var(--container-color);
  transition: border 0.5s;
}

.footer__card:hover {
  border: 2px solid var(--first-color);
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.footer__social-link {
  display: flex;
  background-color: var(--first-color-alt);
  padding: 0.5rem;
  color: var(--title-color);
  font-size: 1rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.4s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  grid-column: 2/3;
}

/*=============== RESPONSIVE ===============*/
/* For large devices */
@media screen and (max-width: 1366px) {
  .nav {
    height: 2.75rem;
  }

  .services {
    padding-top: 4rem;
  }
  .services__container {
    padding-block: 1rem 3rem;
  }
  .services__card {
    padding: 1.75rem 2rem;
  }

  .projects {
    padding-top: 2.3rem;
  }

  .projects__container {
    padding-block: 0rem 4rem;
    row-gap: 0.5rem;
  }
}
@media screen and (max-width: 1180px) {
  .nav__logo,
  .home__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .nav__menu {
    padding-right: 1.5rem;
  }
}
/* For medium devices */
@media screen and (max-width: 1023px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    padding-block: 1rem 5rem;
  }

  .home__content {
    row-gap: 2rem;
  }

  .home__blob {
    width: 350px;
  }

  .skills__container {
    column-gap: 6rem;
  }

  .skills__data,
  :is(.skills__data) :is(.section__subtitle, .section__title) {
    text-align: initial;
  }

  .skills__data {
    padding-left: 1.5rem;
  }

  .skills__group {
    padding-right: 1.5rem;
    column-gap: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__button {
    margin-left: 0;
  }

  .home__blob {
    width: 320px;
  }

  .skills__container {
    column-gap: 6rem;
  }

  .services__container,
  .projects__container {
    grid-template-columns: repeat(2, minmax(auto, 352px));
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer__container {
    grid-template-columns: repeat(1, minmax(auto, 550px));
    justify-content: center;
    row-gap: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer__copy {
    grid-column: 1/2;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .home__container,
  .skills__container,
  .services__container,
  .projects__container {
    grid-template-columns: minmax(auto, 360px);
    justify-content: center;
    text-align: center;
  }
  .home__social {
    justify-content: center;
  }

  .skills__data,
  :is(.skills__data) :is(.section__subtitle, .section__title) {
    text-align: center;
    padding-left: 0;
  }

  .skills__data {
    padding-bottom: 1rem;
  }

  .skills__group {
    row-gap: 2rem;
    column-gap: 5rem;
    padding-left: 2.5rem;
  }
}

@media screen and (max-width: 320px) {
  .nav__menu {
    width: 75%;
  }

  .container {
    margin-inline: 1rem;
  }

  .nav__logo {
    padding-left: 0;
  }

  .nav__toggle {
    padding-right: 0;
  }

  .home__container,
  .services__container,
  .skills__container,
  .projects__container,
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .home__social {
    justify-content: center;
  }

  .skills__group {
    grid-template-columns: max-content;
    padding-right: 1.5rem;
    row-gap: 0.75rem;
  }

  .skills__content {
    row-gap: 1rem;
  }

  .footer__container {
    row-gap: 0.75rem;
  }
  .footer__copy {
    grid-column: 1/2;
  }
}
