*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Time New Roman', 'Times New Roman', Times, serif;
}

img {
  max-width: 100%;
  width: 100%;
}

header {
  position: relative;
  width: 1920px;
  height: 1000px;
  background: #0f0e0e;
}

#overplay {
  position: absolute;
  width: 515px;
  height: 412px;
  left: 217px;
  top: 334px;
}
